<div class="flash-message" ng-if="flash">
            <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>




<div class="product-model">
	 <div class="container" >
		 <h2>Transfer your points</h2>
		 <div class="col-md-6 col-md-offset-3 log">			 
		
				 <form>
					 <h5>Receiver Public key</h5>	
					 <input type="text" ng-model="vm.pubKey" required>
					 <h5>Value</h5>
					 <input type="text" ng-model="vm.sendVal" required>					
					 <center> 
					 	<div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
   							<md-button ng-disabled="!vm.pubKey || !vm.sendVal" class="md-primary md-raised" ng-click="vm.showPrompt($event)">
   							Transfer
   							</md-button>
						</div>



					 </center>	
				 </form>

		 </div>	

		

				
		
	 </div>
</div>

